@import url("https://use.typekit.net/epn7nnb.css");

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bg-signin {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.btn-landing {
    font-family: cy, sans-serif;
    color: #ffffff;
    font-size: 2vw;
    margin-top: 20vh;
}
button.btn.btn-primary.ml-5, 
button.btn.btn-primary.ml-3,
button.btn.btn-primary {
    color: #ffffff;
    background-color: rgb(97, 197, 243);
    border-color: #ffffff;
    font-weight: SemiBold;
}
.btn {
    font-family: cy, sans-serif;
    color: #ffffff;
}
.corp-title {
    font-family: Cy, sans-serif;
    font-weight: SemiLight;
    font-size: 15vh;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
}
.corp-statement {
    font-family: Cy, sans-serif;
    font-weight: SemiLight;
    font-size: 5vh;
    color: #ffffff;
    margin-top:10%;
    background: rgba(0, 0, 0, 0);
}
.view {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/crypto_landing.svg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
}

/*--------Sign In/Sign Up-------*/
.form-signin {
    font-family: cy, sans-serif;
    width:100%;
    max-width: 330px;
    padding:15px;
    margin: auto;   
}
.img {
    vertical-align: middle;
    border-style: none;
}
/*------Dashboard------------*/
.navbar {
    background-color: #343779;
}
span.navbar-text, .nav-link {
    font-family: cy, sans-serif;
    font-size: 2vh;
    color: #ffffff;
}
h1, h2, h3, table {
    font-family: cy, sans-serif;
}
.jumbo-text {
    font-family: cy, sans-serif;
    font-size: 17px;
}
.table {
    width: 100%;
}
/*--------Media Queries-------*/
@media screen and (max-width: 576px) {
    .view {
        background-image: url(../images/crypto_land_md.svg);
    }
    .corp-title {
        font-size: 5vh
    }
    .corp-statement{
        font-size: 3.5vh;
    }
    button.btn.btn-primary.ml-3,
    button.btn.btn-primary {
       font-size: 2vh;
    }
    .table-stats {
        font-size: 1.5vh;
    }
}
@media screen and (min-width: 577px) {
    .view {
        background-image: url(../images/crypto_land_md.svg);
    }
    .corp-title {
        font-size: 9vh;
    }
    .corp-statement{
        font-size: 4vh;
    }
    
}
@media (min-width: 991px) {
    .view {
        background-image: url(../images/crypto_land_md.svg);
    }
    .corp-title {
        font-size: 9.4vh;
    }
    .corp-statement{
        font-size: 3.5vh;
    }
    button.btn.btn-primary.ml-3,
    button.btn.btn-primary {
       font-size: 1.8vh;
    }
}
@media screen and (min-width: 1330px) {
    .view {
        background-image: url(../images/crypto_land_md.svg);
    }
    .corp-title {
        font-size: 15vh;
    }
    .corp-statement{
        font-size: 5vh;
    }
}


   /*--------Fonts-------*/
Cy Light {
font-family: cy, sans-serif;
font-weight: 300;
font-style: normal;
   }
Cy SemiLight {
font-family: cy, sans-serif;
font-weight: 400;
font-style: normal;
}
Cy SemiBold {
font-family: cy, sans-serif;
font-weight: 600;
font-style: normal;
}
Cy Bold {
font-family: cy, sans-serif;
font-weight: 700;
font-style: normal;
}